
.devcontainer/
.idea/
.gradle/
build/
api/build
api/out
api/.gradle
oasis-reference/build
oasis-reference/out
oasis-reference/.gradle
/packages/

#CSharp and VS nonsense
csharp-client-reference/bin
csharp-client-reference/obj
csharp-client-reference/.vs
csharp-client-reference/Artifacts
csharp-client-reference/packages

#cpp and VS garbage
vcpp-client-reference/Debug
vcpp-client-reference/Release
vcpp-client-reference/x64
vcpp-client-reference/vcpkg_installed
vcpp-client-reference/vcpp-client-reference.vcxproj.user
vcpp-client-reference/packages/*
vcpp-client-reference/gen-src/*

api/obj
.vs/

*.sln.DotSettings.user

!packages/repositories.config
/api/EmpowerOps.Volition.Api.0.1.0.nupkg
