
.idea/
.gradle/
build/
api/build
api/out
api/.gradle
client-reference/build
client-reference/out
client-reference/.gradle
oasis-reference/build
oasis-reference/out
oasis-reference/.gradle
/packages/

#CSharp and VS nonsense
csharp-client-reference/bin
csharp-client-reference/obj
csharp-client-reference/.vs
csharp-client-reference/Artifacts

api/obj
.vs/

*.sln.DotSettings.user

!packages/repositories.config
/api/EmpowerOps.Volition.Api.0.1.0.nupkg

#vcpkg
vcpkg_installed/
/vcpkg.json
