{
  "$schema": "https://raw.githubusercontent.com/microsoft/vcpkg/master/scripts/vcpkg.schema.json",
  "name": "volition",
  "version": "%volitionFullVersion%",
  "description": "A cpp shim library for the volition API",
  "dependencies": [ "grpc", "protobuf" ]
}